<div class="navbar_body">
  <div class="metric_button_container">
    <button class="metric_button" (click)="changeToImperial()">F</button
    >/<button class="metric_button" (click)="changeToMetric()">C</button>
  </div>
  <label>Search</label>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input
        type="text"
        placeholder="City name..."
        name="city"
        formControlName="city"
        class="navbar_input"
      />
      <button class="navbar_button">
        <img src="../../assets/search_icon.png" class="navbar_search_icon" />
      </button>
    </div>
  </form>
</div>
