.daily_body{
    text-align: center;
    margin-inline:15vw;
    border-bottom:1px solid black
}
.daily_table{
    width:100%;
}

.daily_row_day{
    text-align:left;
    padding-left: 15px;
}
.daily_row_image{
    text-align: center;
}

.daily_image{
    width:20%;
    height: auto;
}

