<div class="daily_body">
  <div *ngIf="dailyDetail">
    <table class="daily_table">
      <col style="width: 30%" />
      <col style="width: 40%" />
      <col style="width: 15%" />
      <col style="width: 15%" />
      <tr *ngFor="let detail of dailyDetail.slice(1, dailyDetail.length)">
        <td class="daily_row_day">
          {{ (detail.dt | epochDate: timezone_offset).getDay() | dayFormat }}
        </td>
        <td>
          <img
            class="daily_image"
            [src]="iconURL + detail.weather[0].icon + '@2x.png'"
          />
        </td>
        <td>
          {{ detail.temp.day | metric: (isMetric$ | async)! | doubleToInt }}
        </td>
        <td>
          {{ detail.temp.night | metric: (isMetric$ | async)! | doubleToInt }}
        </td>
      </tr>
    </table>
  </div>
</div>
