<div class="body">
  <div *ngIf="dailySummary && currentDetail">
    <table class="extra_table">
      <tr>
        <td class="summary_td">
          Today: {{ dailySummary.weather[0].description | properCase }}. It's
          {{ (currentDetail.temp | doubleToInt) + degree }}. The high is
          {{ (dailySummary.temp.max | doubleToInt) + degree }}, and a low of
          {{ (dailySummary.temp.min | doubleToInt) + degree }}.
        </td>
      </tr>
    </table>

    <table class="extra_table">
      <col style="width: 50%" />
      <col style="width: 50%" />
      <tr>
        <th>SUNRISE</th>
        <th>SUNSET</th>
      </tr>
      <tr>
        <td>
          {{
            (dailySummary.sunrise | epochDate: timezone_offset).getHours()
              | hourFormat2
          }}:{{
            (dailySummary.sunrise | epochDate: timezone_offset).getMinutes()
              | minuteFormat
          }}{{
            (dailySummary.sunrise | epochDate: timezone_offset).getHours()
              | halfDay
          }}
        </td>
        <td>
          {{
            (dailySummary.sunset | epochDate: timezone_offset).getHours()
              | hourFormat2
          }}:{{
            (dailySummary.sunset | epochDate: timezone_offset).getMinutes()
              | minuteFormat
          }}{{
            (dailySummary.sunset | epochDate: timezone_offset).getHours()
              | halfDay
          }}
        </td>
      </tr>
      <tr>
        <th>CHANCE OF RAIN</th>
        <th>HUMIDITY</th>
      </tr>
      <tr>
        <td>{{ dailySummary.pop + "%" }}</td>
        <td>{{ dailySummary.humidity + "%" }}</td>
      </tr>
      <tr>
        <th>WIND</th>
        <th>FEELS LIKE</th>
      </tr>
      <tr>
        <td>{{dailySummary.wind_deg | degreeToCardinal}} {{dailySummary.wind_speed | doubleToInt}} {{metricSpeed(false)}}</td>
        <td>{{(currentDetail.feels_like | doubleToInt) + degree}}</td>
      </tr>
      <tr>
        <th>PRECIPITATION</th>
        <th>PRESSURE</th>
      </tr>
      <tr>
        <td *ngIf = "dailySummary.rain">{{dailySummary.rain}} mm</td>
        <td *ngIf = "!dailySummary.rain">0 mm</td>
        <td>{{dailySummary.pressure}} hPa</td>
      </tr>
      <tr>
        <th>VISIBILITY</th>
        <th>UV INDEX</th>
      </tr>
      <tr>
        <td>{{currentDetail.visibility}} m</td>
        <td>{{currentDetail.uvi}}</td>
      </tr>
    </table>
  </div>
</div>
