.overhead_container {
  margin-inline: 20px;
  margin-block: 10px;
  text-align: center;
}
.city_text {
  font-size: x-large;
}
.current_temp_text {
  font-size: xx-large;
}
.city_desc_container_fixed {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top:0px;
  width: 100%;
  background-color: white;
}

.city_desc_container_sticky{
    text-align: center;
    position: sticky;
    top:0%;
    padding-block:5px;
    background-color: white;
}

.hourly_detail_container {
  position: sticky;
  background-color: white;
}
.current_temp_fixed{
    position: sticky;
    top:5px; 
}
.current_temp_color_after{
    opacity: 0;
    transition: opacity 0.5s;
}

.current_temp_color_before{
    opacity: 1;
    transition: opacity 0.3s;
}